/* -----------------------------
    GENERAL SECTION
-------------------------------- */

.wrapper {
  background-color: lightgray;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.navbar {
  height: 200px;
}

.d-flex {
  margin-top: 25px;
  margin-right: -75x;
}

.new-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.company-name {
  font-size: 60px;
  font-family: sans-serif;
  line-height: 1.4;
  letter-spacing: 0px;
  color: black;
  font-family: Serif;
  width: auto;
  font-size: 3rem;
  line-height: 3rem;


}

.flex-container {
  display: flex;
  height: 420px;
  margin-top: -30px;
  width: auto;
}

.flex-child-1 {
  margin-top: 20px;
  flex: 1;
  height: 400px;
  width: 100%;
  background-color: gray;
  float: left;
  padding: 5px;

}

.logo-text {
  font-size: 18px;
  color: white;
  padding: 25px;
}


.flex-child-2 {
  margin-top: 20px;
  flex: 2;
  height: 400px;
  width: auto;
  float: right;
  padding: 20px;
  /* border: 2px solid red;  */
  background-color: springgreen;
  background-image: url("imgs/barnimages.jpg");
  background-color: #cccccc;
  background-position: center center;
  background-size: 100% 100%;

}

*/ .mx-auto {
  margin-top: 35px;
}



.topNav {
  position: sticky;
  top: 0;
}

.topNav ul {
  background-color: #413c3f;
  display: flex;
  justify-content: space-around;
}

.topNav ul a {
  color: #fff;
  background-color: #413c3f;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px;
  display: block;
}

.topNav ul a:hover {
  color: #413c3f;
  background-color: #fff;
}

.topNav ul a:active {
  text-decoration: underline;
}

.introduction {

  margin-top: 5px;
  align-items: center;
  color: black;
  font-size: medium;
  text-align: justify;
  text-decoration: blink;
  font-size: 25px;

  padding: 1em;


}

/* //------------------------------------Part 2-------------------------------------------------------------// */


.container1 {

  background-color: grey;
  height: 500px;
}


.program-container {
  height: 700px;
  background-color: #cdda23;
  width: auto;


}


body {
  height: 100%;
  background-image: linear-gradient(to top, #eff1f3 0%, #e7f0fd 100%);
}



body {
  height: 100%;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */

}

body h1 {
  text-align: center;
}

/* .container {
  background-color: white;
  height: 300px;
  margin-right: 200px;
} */

.active {
  background-color: #1da1f2 !important;
}

.list-group-item .active {
  font-size: 50px;
}

.text-active {
  background-color: #1da1f2 !important;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-active h4 {
  color: #FFFFFF !important;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.fa {
  font-size: 25px;
  padding-right: 10px;
  color: #140202;
}

.list-group-item {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.list-group {
  margin-top: 35px;
  margin-right: 100px;
}

.row info-panel {
  margin-top: 55px;
}


.movie-panel {
  background-color: black;
  height: 325px;

}

.movie-container {
  margin-top: 30px;
}

#logo-image {
  height: 50%;
  width: 100%;
  object-fit: contain;


}

.recommendations {
  background-color: grey;
  height: 55px;
  color: white;
}

.panel-text {
  margin-right: 25px;
}

/* -----------------------------
  MAIN SECTION - Movie Content 
-------------------------------- */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  height: 500px;
}

.schedule-of-movies {
  /* display: grid; */
  height: 281px;
  width: 403px;
  float: left;
  padding: -21px;
  /* background: rgba(134, 134, 128, 0.4); */
  /* margin-top: 25px; */
  margin-left: -24px;
  /* background-color: white; */
  /* overflow: hidden; */
}


.next-program {
  height: 280px;
  width: 490px;
  float: right;
  padding: 20px;
  /* background: rgba(134, 134, 128, 0.4);
  background-color: chartreuse; */
  overflow: hidden;
  margin-right: 345px;
}

.schedule-1 {

  font-size: 25px;
  line-height: 1.4;
  justify-items: center;
  letter-spacing: 0px;
  color: black;
  font-family: "Barlow", sans-serif;
  width: 400px;

  margin-top: 45px;
}

.tn-group-lg>.btn,
.btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  padding: 0px;
  margin-top: 54px;
}

.complete-list {
  font-size: 45px;
  line-height: 1.4;
  justify-items: center;
  color: rgba(2, 8, 44, 0.363);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

.column-2 {
  font-size: 25px;
  line-height: 1.4;
  justify-items: center;
  letter-spacing: 0px;
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  background-color: palevioletred;
}

.annoucements {
  display: grid;
  /* background-color: (gray, lightgray, white, yellow, turquoise); */
  height: 500px;
  background-color: black;
  height: 400px;
  /* margin-top: 100px; */
}

.annocement {
  color: black;
  background-color: grey;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: black;
  border-radius: .3rem;
  margin-top: -33px;
}

.news {
  /* margin-top: 50px; */
  display: flex;
  background: linear-gradient(to left,
      gray,
      lightgray,
      white,
      yellow,
      turquoise);
}

.news:before,
h1:after {
  color: white;
  content: "";
  flex: 1;
  border-bottom: groove 2px;
  margin: auto 0.25em;
  box-shadow: 0 -1px;
  /* ou 0 1px si border-style:ridge */
}


.news-column {
  margin-right: 45px;
}



/* -----------------------------
  FOOTER SECTION
-------------------------------- */
footer {
  /* margin-top: 60px; */
  background-color: grey;
  /* color: #fff; */
  /* padding: 30px 0 180px; */
  height: 250px;
}


.container,
.container-lg,
.container-md,
.container-sm {
  max-width: 960px;
  background-color: grey;
  /* padding: 30px; */
  border-spacing: 25px;
}


/* -----------------------------
  GALLERY PAGE SECTION
-------------------------------- */


/* -----------------------------
   Schdule .HTML SECTION
-------------------------------- */
.list-header {
  background-color: orange;
  height: 100px;
}

/* -----------------------------
   SECTION
-------------------------------- */
/* -----------------------------
   SECTION 2- working today
-------------------------------- */

/* SECTION-Contact Form */
/* ================================== */


/* ================================== */
/* ===================Footer======================= */

/* ============================================================================================================ */
/* schedule.html css */
/* ================================================================================================================ */
.header-list-sc {
  color: white;
  height: 150px;
  margin-top: -12px;
  background-color: black;
}

.header-list-sc {
  height: 400px;
  /* margin-top: -150px; */
  background-image: url("https://m.media-amazon.com/images/M/MV5BOWZlMjFiYzgtMTUzNC00Y2IzLTk1NTMtZmNhMTczNTk0ODk1XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg");

}

.s-footer {
  background-color: lightslategrey;
  height: 70px;
}